In [75]:
import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests
import re

In [141]:
url = 'https://fbref.com/en/comps/12/La-Liga-Stats'
response = requests.get(url)
soup = BeautifulSoup(response.text,'html.parser')

tables = soup.find_all('table', attrs = {'class': 'stats_table'})

In [142]:
table_overall = tables[2]
rows = table_overall.find_all('tr')

In [143]:
headers = [th.text.strip() for th in rows[1].find_all('th')]

In [146]:
data = []
for row in rows[2:]:
    index_value = row.find('th').text.strip()
    row_data = [index_value] + [td.text.strip() for td in row.find_all('td')]
    data.append(row_data)

In [150]:
df = pd.DataFrame(data, columns=headers)

In [151]:
df

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Alavés,28,26.4,42.3,28,308,"2,520",28.0,23,19,...,0.82,0.68,1.50,0.71,1.39,1.22,0.82,2.03,1.08,1.89
1,Almería,33,26.1,46.4,28,308,"2,520",28.0,27,18,...,0.96,0.64,1.61,0.93,1.57,1.27,0.94,2.21,1.24,2.18
2,Athletic Club,25,28.0,49.1,28,308,"2,520",28.0,46,32,...,1.64,1.14,2.79,1.54,2.68,1.53,1.06,2.58,1.39,2.44
3,Atlético Madrid,26,29.8,51.6,28,308,"2,520",28.0,53,38,...,1.89,1.36,3.25,1.75,3.11,1.76,1.33,3.09,1.62,2.96
4,Barcelona,28,26.6,64.5,28,308,"2,520",28.0,54,39,...,1.93,1.39,3.32,1.79,3.18,2.18,1.64,3.82,2.04,3.68
5,Betis,35,28.4,50.4,28,308,"2,520",28.0,33,24,...,1.18,0.86,2.04,1.14,2.00,1.16,0.90,2.06,1.14,2.04
6,Cádiz,33,29.2,42.4,28,308,"2,520",28.0,20,13,...,0.71,0.46,1.18,0.64,1.11,0.87,0.59,1.45,0.81,1.40
7,Celta Vigo,28,27.5,43.9,28,308,"2,520",28.0,29,21,...,1.04,0.75,1.79,1.00,1.75,1.23,0.87,2.10,1.15,2.02
8,Getafe,28,28.3,43.2,28,308,"2,520",28.0,36,23,...,1.29,0.82,2.11,1.07,1.89,1.20,0.68,1.88,1.03,1.72
9,Girona,24,26.6,56.8,28,308,"2,520",28.0,59,46,...,2.11,1.64,3.75,2.00,3.64,1.71,1.34,3.05,1.62,2.97
10,Granada,36,27.4,46.3,27,297,"2,430",27.0,28,23,...,1.04,0.85,1.89,0.89,1.74,1.17,0.84,2.01,0.99,1.83
11,Las Palmas,28,26.2,60.2,28,308,"2,520",28.0,29,20,...,1.04,0.71,1.75,0.93,1.64,0.88,0.61,1.49,0.77,1.38
12,Mallorca,23,29.2,43.8,28,308,"2,520",28.0,24,19,...,0.86,0.68,1.54,0.82,1.50,1.07,0.81,1.88,0.99,1.80
13,Osasuna,25,28.6,48.0,28,308,"2,520",28.0,31,20,...,1.11,0.71,1.82,0.96,1.68,1.09,0.78,1.87,0.98,1.76
14,Rayo Vallecano,25,30.3,49.3,28,308,"2,520",28.0,23,11,...,0.82,0.39,1.21,0.61,1.00,1.13,0.63,1.76,0.97,1.60
15,Real Madrid,25,28.0,59.6,28,308,"2,520",28.0,58,44,...,2.07,1.57,3.64,2.04,3.61,1.86,1.41,3.27,1.76,3.17
16,Real Sociedad,30,26.4,56.1,28,308,"2,520",28.0,38,27,...,1.36,0.96,2.32,1.21,2.18,1.26,0.83,2.09,1.15,1.97
17,Sevilla,35,29.4,51.8,28,308,"2,520",28.0,33,22,...,1.18,0.79,1.96,1.14,1.93,1.10,0.80,1.90,1.07,1.87
18,Valencia,26,24.8,44.0,27,297,"2,430",27.0,32,23,...,1.19,0.85,2.04,1.04,1.89,1.05,0.69,1.74,0.91,1.60
19,Villarreal,32,28.6,50.3,28,308,"2,520",28.0,45,32,...,1.61,1.14,2.75,1.46,2.61,1.43,1.05,2.48,1.32,2.37